/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */


.footer {
  background-color: #F6C667;
  padding: 30px 15px;
  color: #333E50;
}

.footer p {
  margin-top: 17px;
}
.footer ul {
  margin-top: 10px;
}
.footer a {
  color: #333E50;
  font-size: 30px;
  letter-spacing: 20px;
  transition: color 0.5s ease;
}
.footer a:hover{
  color: #ff8c00;
}

.wrapper-dark-blue{
  background: #333E50;
  color: white;
  min-height: 50vh;
}

.card {
  height: 250px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-position: center;
  background-size: cover !important;
  color: white;
  position: relative;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.2);
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 22px;
}
.card-description p {
  font-size: 15px;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}
.features img {
  width: 100px;
}
.features h2 {
  font-size: 20px;
  margin-bottom: 10px;
}
.features p {
  font-size: 15px;
  font-weight: lighter;
}
