<div class="banner" style="background-image: linear-gradient(-180deg, #071A2E 0%, rgba(24,79,136,0.27) 100%), url(<%= image_url 'banner.jpg' %>);">
    <div class="banner-content text-center">
      <h1><b>Location</b>
       de véhicules de chantier</h1>
       <h1>entre <b>professionnels</b> du BTP</h1>
    </div>
  </div>

