.footer-4cln {margin-top: 30px; padding: 30px 0;background-color: #333E50; font-size: 13px; color:#959ca3;}
.footer-4cln a {color:#959ca3;}
.footer-4cln a:hover {color:#fff;}
.footer-4cln h6 {font-size: 15px; text-transform: uppercase; font-weight: normal; color: #fff;}
.footer-4cln .footernews {border: none;}
.footer-4cln .help-block {font-size: 11px; color:#959ca3;}
.footer-4cln hr {  color: #3b4958; border: 0; background-color: #3b4958; height: 2px;}
.footer-4cln-bar span{display:block;float:left;margin:10px 20px 10px 0px;font-size:18px;}
.footer-4cln-bar span i{top:2px;font-size:20px; margin-right: 6px;}
.footer-4cln-bar span.address{float:right;text-align:right;margin:5px 0px 10px 0px;font-size:13px;line-height:18px}
.footer-social {display:block;float:left;margin:10px 30px 10px 10px;font-size:20px;}
.footer-social i {padding: 0 6px;}
.footer-4cln .social-google {color: #da573b;}
.footer-4cln .social-twitter {color: #1daee3;}
.footer-4cln .social-facebook {color: #4c699e;}
.footer-4cln .social-linkedin {color: #4875B4;}
.footer-4cln .social-skype {color: #00aff0;}



