.brand-button{
background: #F6C667;
border-radius: 4px;
font-size: 18px;
font-weight: 300;
color: #FFFFFF;
letter-spacing: 1px;
padding: 7px 16px;
text-decoration: none;
}

.brand-button:hover{
color: #FFFFFF!important;
}


.brand-button-blue {
background: #007CB9;
border-radius: 4px;
font-size: 18px;
font-weight: 300;
color: #FFFFFF;
letter-spacing: 1px;
padding: 7px 16px;
text-decoration: none;
margin: 15px;
}

.brand-button-blue:hover{
color: #FFFFFF!important;
}


