.brand-button{
background: #F6C667;
border-radius: 4px;
font-size: 18px;
font-weight: 300;
color: #FFFFFF;
letter-spacing: 1px;
padding: 6px 15px;
text-decoration: none;
border: none;
}

.brand-button:hover{
color: #FFFFFF!important;
background: #F6C667;
}


.brand-button-border{
border-radius: 4px;
font-size: 18px;
font-weight: 300;
color: #F6C667;
border: 1px solid #F6C667;
letter-spacing: 1px;
padding: 6px 15px;
text-decoration: none;
}

.brand-button-border:hover{
color: #F6C667!important;
}


.brand-button-blue {
background: #007CB9;
border-radius: 4px;
font-size: 18px;
font-weight: 300;
color: #FFFFFF;
letter-spacing: 1px;
padding: 6px 15px;
text-decoration: none;
margin: 15px;
}

.brand-button-blue:hover{
color: #FFFFFF!important;
}

.button-create-booking {
  border-radius: 4px;
  font-size: 18px;
  font-weight: 300;
  color: #F6C667;
  border: 1px solid #F6C667;
  letter-spacing: 1px;
  padding: 6px 15px;
  text-decoration: none;
  margin-top: 90px;
}


.modal-content {
  background: #2C3947!important;
  border-radius: 4px;
}


.status-pending {
  // border-radius: 4px;
  font-size: 18px;
  font-weight: 300;
  color: #F6C667;
  border: 1px solid #F6C667;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  letter-spacing: 1px;
  padding: 6px 15px;
  text-decoration: none;
  margin-top: -1px;

}

.status-confirmed {
  // border-radius: 4px;
  font-size: 18px;
  font-weight: 300;
  color: #70C56E;
  border: 1px solid #70C56E;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  letter-spacing: 1px;
  padding: 6px 15px;
  text-decoration: none;
  margin-top: -1px;

}
.status-refused {
  // border-radius: 4px;
  font-size: 18px;
  font-weight: 300;
  color: #F60E33;
  border: 1px solid #F60E33;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  letter-spacing: 1px;
  padding: 6px 15px;
  text-decoration: none;
  margin-top: -1px;

}

.status p {
  font-weight: bolder;
  margin: 8px;

}
