.wrapper-dark-blue {
  background: #333E50;
  color: white;
  min-height: calc(100vh - 70px);
}

.truck-card {
    width: 33.33333333%;
    background-color: #2B3442;
    text-align: center;
    margin-top: 53px;
    padding: 20px;
}
