.wrapper-dark-blue {
  background: #333E50;
  color: white;
  min-height: calc(100vh - 70px);
}

.wrapper-dark-blue h1 {
  font-size: 35px;
  font-weight:lighter;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);

}

.truck-card {
    width: 33.33333333%;
    background-color: #2B3442;
    text-align: center;
    margin-top: 53px;
    padding: 20px;
}

.form-inputs abbr{
  border-bottom: 0px;
}

